[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MODISTools"]
	path = MODISTools
	url = https://github.com/bluegreen-labs/modistools
[submodule "appeears"]
	path = appeears
	url = https://github.com/bluegreen-labs/appeears
[submodule "daymetr"]
	path = daymetr
	url = https://github.com/bluegreen-labs/daymetr
[submodule "ecmwfr"]
	path = ecmwfr
	url = https://github.com/bluegreen-labs/ecmwfr
[submodule "foto"]
	path = foto
	url = https://github.com/bluegreen-labs/foto
[submodule "hwsdr"]
	path = hwsdr
	url = https://github.com/bluegreen-labs/hwsdr
[submodule "igrf"]
	path = igrf
	url = https://github.com/bluegreen-labs/igrf
[submodule "phenocamr"]
	path = phenocamr
	url = https://github.com/bluegreen-labs/phenocamr
[submodule "skylight"]
	path = skylight
	url = https://github.com/bluegreen-labs/skylight
[submodule "snotelr"]
	path = snotelr
	url = https://github.com/bluegreen-labs/snotelr
